@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');

.header-wrap {
    font-family: 'Jura', sans-serif;
    display: flex;
    justify-content: space-between;
    -moz-box-shadow:    3px 3px 5px 1px #ccc;
    -webkit-box-shadow: 3px 3px 5px 1px #ccc;
    box-shadow:         3px 3px 5px 1px #ccc;
    margin-bottom: 10px;
}

.container {
    display: flex;
    align-items: center;
}

.right-container {
    margin-top: 15px;
}

.header-link {
    color: #C02F1D;
}

.header-text {
    font-size: 36px;
    margin: 0;
    padding: 10px 0;
    font-weight: bold;
    color: #C02F1D;
}

.header-text-right {
    font-size: 28px;
    padding-right: 15px;
    padding-bottom: 0px;
    color: #156477;
}

.fa-icon-info {
    font-size: 28px;
    color: #156477;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 11px;
}

.fa-icon-info:hover {
    cursor: pointer;
}

.reset {
    font-size: 24px;
    margin-right: 20px;
}



@media only screen and (max-width: 426px){
    .container{
        margin-top: 10px;
    }
    .header-wrap {
        flex-direction: column;
    }
    .header-text {
        padding: 0;
    }
    .right-container {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
    }
    .header-text-right {
        padding-right: 10px;
    }
    .fa-icon-info {
        margin-top: 0px;
    }
    .reset {
        margin-right: 10px;
    }
}