.fa-icon-menu {
    font-size: 30px;
    color: #C02F1D;
    cursor: pointer;
    margin: 0 30px 0 20px;
}

.fa-icon-menu:hover {
    cursor: pointer;
}

.link-wrapper {
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 20px;
    margin-top: 15px;
    background-color: #C02F1D;
    align-items: flex-start;
    z-index: 1;
}

.link {
    padding-top: 5px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    border-bottom: 1px solid #C02F1D;
}

.link:hover {
    border-bottom: 1px solid white;
}

@media only screen and (max-width: 426px){
    .link-wrapper {
        margin-top: 45px;
    }
}